<div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="search-container">
            <label>Titre</label>
            <input type="text" formControlName="searchTitle" placeholder="Chercher par titre" />
        </div>
             <div class="search-container">
            <label>Date de sortie</label>
            <input type="text" formControlName="searchReleaseDate" placeholder="Chercher par date de sortie" />
        </div>
            <button type="submit">Search</button>
    </form>
</div>
